In [ ]:
# Some basic data wrangling from mpesa statements to obtain analysis of total transactions gambling with various Kenyan betting sites over the years

In [2]:
import pandas as pd

In [3]:
mpesa=pd.read_excel("C:\\Users\\STACY\\Documents\\mpesa 9.xlsx")

In [4]:
mpesa.head(15)

,Receipt No.,Completion Time,Details,Transaction Status,Paid In,Withdrawn,Unnamed: 6,Balance
0,LCV4INIECO,2017-03-31\n21:54:16,Pay Bill Charge,Completed,0.0,5.0,NaN,2964.0
1,LCV4INIECO,2017-03-31\n21:54:16,Pay Bill to 290020 - GAMING INTERNATIONAL LIMI...,Completed,0.0,50.0,NaN,2969.0
2,LCV8IFMTDG,2017-03-31\n12:55:13,Airtime Purchase,Completed,0.0,5.0,NaN,3019.0
3,LCV9IECT4H,2017-03-31\n11:09:37,Withdrawal Charge,Completed,0.0,10.0,NaN,3024.0
4,LCV9IECT4H,2017-03-31\n11:09:37,Customer Withdrawal At Agent Till 367996 - Web...,Completed,0.0,100.0,NaN,3034.0
5,LCV8ICK8PA,2017-03-31\n08:35:40,Airtime Purchase,Completed,0.0,5.0,NaN,3134.0
6,LCT1HYSMZZ,2017-03-29\n21:07:04,Airtime Purchase,Completed,0.0,10.0,NaN,3443.0
7,LCT2HYOQP6,2017-03-29\n20:58:05,Funds received from 254*****2157 - NJERU MUCHUNGI,Completed,3000.0,0.0,NaN,3453.0
8,LCT6HYN9DK,2017-03-29\n20:54:13,Airtime Purchase,Completed,0.0,5.0,NaN,453.0
9,LCT7HYLRA3,2017-03-29\n20:50:59,Airtime Purchase,Completed,0.0,10.0,NaN,458.0
10,LCT7HUJWBN,2017-03-29\n16:15:51,Withdrawal Charge,Completed,0.0,27.0,NaN,468.0
11,LCT7HUJWBN,2017-03-29\n16:15:51,Customer Withdrawal At Agent Till 353614 - Ori...,Completed,0.0,2000.0,NaN,495.0
12,LCS1HNPIYJ,2017-03-28\n21:32:14,Pay Bill Charge,Completed,0.0,5.0,NaN,2495.0
13,LCS1HNPIYJ,2017-03-28\n21:32:14,Pay Bill to 290020 - GAMING INTERNATIONAL LIMI...,Completed,0.0,50.0,NaN,2500.0
14,LCS2HNJJ0E,2017-03-28\n21:16:23,Pay Bill Charge,Completed,0.0,5.0,NaN,2550.0

In [5]:
mpesa.drop(columns=['Unnamed: 6', "Transaction Status"], inplace=True)

In [6]:
mpesa.dropna(axis=0, inplace=True)

In [7]:
mpesa

,Receipt No.,Completion Time,Details,Paid In,Withdrawn,Balance
0,LCV4INIECO,2017-03-31\n21:54:16,Pay Bill Charge,0.0,5.0,2964.0
1,LCV4INIECO,2017-03-31\n21:54:16,Pay Bill to 290020 - GAMING INTERNATIONAL LIMI...,0.0,50.0,2969.0
2,LCV8IFMTDG,2017-03-31\n12:55:13,Airtime Purchase,0.0,5.0,3019.0
3,LCV9IECT4H,2017-03-31\n11:09:37,Withdrawal Charge,0.0,10.0,3024.0
4,LCV9IECT4H,2017-03-31\n11:09:37,Customer Withdrawal At Agent Till 367996 - Web...,0.0,100.0,3034.0
...,...,...,...,...,...,...
14012,LD10IQXQP2,2017-04-01\n10:04:29,Airtime Purchase,0.0,5.0,2894.0
14013,LD13IPULH7,2017-04-01\n08:44:58,Airtime Purchase,0.0,5.0,2899.0
14014,LD11IPHBC3,2017-04-01\n08:12:53,Airtime Purchase,0.0,5.0,2904.0
14015,LD10IOQDM2,2017-04-01\n06:25:48,Pay Bill Charge,0.0,5.0,2909.0
14016,LD10IOQDM2,2017-04-01\n06:25:48,Pay Bill to 290020 - GAMING INTERNATIONAL LIMI...,0.0,50.0,2914.0

In [8]:
betway=mpesa["Details"].str.contains('Betway') # filter for columns with transactions sent to Betway

In [9]:
frmbetway=mpesa["Details"].str.contains('BETWAY') # filter for columns with transactions paid out from Betway

In [10]:
betpawa=mpesa['Details'].str.contains('GAMING') # filter for columns with transactions sent to and from Betpawa

In [11]:
odibets=mpesa['Details'].str.contains('ODIBETS') # filter for columns with transactions sent to and from Odibets

In [12]:
sportpesa=mpesa['Details'].str.contains('SportPesa') # filter for columns with transactions sent to and from Sportpesa

In [13]:
betin=mpesa["Details"].str.contains('BETIN') # filter for columns with transactions sent to and from Betin

In [14]:
betika=mpesa["Details"].str.contains("BETIKA") # filter for columns with transactions sent to and from Betika

In [15]:
# create masks to filter through data
bets1=mpesa[betway]
bets2=mpesa[betika]
bets3=mpesa[betpawa]
bets4=mpesa[betin]
bets5=mpesa[odibets]
bets6=mpesa[sportpesa]
bets7=mpesa[frmbetway]

In [16]:
# Create dataframe after masking data
betts=pd.concat([bets1,bets2,bets3,bets4,bets5,bets6, bets7],ignore_index=True)

In [17]:
betts

,Receipt No.,Completion Time,Details,Paid In,Withdrawn,Balance
0,LCS2HNJJ0E,2017-03-28\n21:16:23,Pay Bill to 880185 - Betway. Acc.,0.0,50.0,2555.00
1,LCS5HGNUAJ,2017-03-28\n12:57:13,Pay Bill to 880185 - Betway. Acc.,0.0,50.0,4140.00
2,LCQ4H0DM4I,2017-03-26\n21:16:50,Pay Bill to 880185 - Betway. Acc.,0.0,100.0,4525.00
3,LCQ2GWWWL4,2017-03-26\n16:54:27,Pay Bill to 880185 - Betway. Acc.,0.0,37.0,4628.00
4,LCQ4GR7DOC,2017-03-26\n07:39:35,Pay Bill to 880185 - Betway. Acc.,0.0,50.0,470.00
...,...,...,...,...,...,...
1891,OJ253DO7FX,2020-10-02\n08:36:12,Business Payment from 394555 - BETWAY B2C via ...,1100.0,0.0,1100.00
1892,NDP8HK8NI2,2019-04-25\n19:41:13,Business Payment from 584988 - BETWAY via API,209.0,0.0,3416.79
1893,NDM4F9IGHO,2019-04-22\n20:18:18,Business Payment from 584988 - BETWAY via API,436.0,0.0,4162.79
1894,NB22L1MUE4,2019-02-02\n16:45:35,Business Payment from 584988 - BETWAY via API,190.0,0.0,258.20
1895,NA21WYVXZB,2019-01-02\n19:52:31,Business Payment from 584988 - BETWAY via API,314.0,0.0,1670.00

In [18]:
# Export ddataframe as Excel file 
betts.to_excel('C:\\Users\\STACY\\Documents\\gambler.xlsx')